<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input placeholder="Título" [(ngModel)]="titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Materia" [(ngModel)]="materia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-datetime presentation="date" [(ngModel)]="fecha"></ion-datetime>
  </ion-item>

  <ion-button expand="full" (click)="guardar()">Guardar</ion-button>
</ion-content>
