<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Planifica Estudio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
      <ion-card-subtitle>Organiza tu estudio fácilmente</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Planifica tus materias, tareas y fechas importantes desde un solo lugar.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Resumen rápido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Materias registradas</ion-label>
        <ion-badge slot="end" color="primary">3</ion-badge>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Tareas pendientes</ion-label>
        <ion-badge slot="end" color="warning">5</ion-badge>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Próximos eventos</ion-label>
        <ion-badge slot="end" color="tertiary">2</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
